<!doctype html>
<html lang="es">
<head>
   <meta charset = "utf-8">
   <title>Hoja de vida De mi mascota </title>
</head>
<body>
<h1> Datos Mascota: </h1>
<h2> Información principal-- </h2>
<h3> Nombre mascota: Pepe </h3>
<h3> Especie: Ave </h3>
<h3> Raza: Cacatúa ninfa (Nymphicus hollandicus) </h3>
<h3> Sexo: Macho </h3>
<h3> Edad: 5 años </h3>
<h3> Color: Gris perlado con mejillas anaranjadas </h3>

<h1>  Aqui esta una foto para su referencia: </h1>
<img src="../static/img/mascota.jpg" width="300" height="500">

<h2> Información adicional-- </h2>
<h3> Comportamiento: Muy curioso y agresivo a su vez </h3>
<h3> Convivencia: Se lleva bien con los humanos pero no con las aves </h3>
<h3> Horarios: Activa durante la mañana y tarde </h3>

<h2> Información propietario-- </h2>
<h3> Nombre: Aldemar Cataño </h3>
<h3> Telefono: 3158108606 </h3>
<h3> Correo: acatano63@ucatolica.edu.co </h3>
<h3> Dirección: Puente Aranda, Galán </h3>

</body>

</html>
